.TopHat .tophatButton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin: 3rem 0 0 0;
}

.TopHat .tophatButton:hover {
  animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1.5);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg) scale(1.5);
  }
  50% {
    transform: translate(0, 0) rotate(0deg) scale(1.5);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg) scale(1.5);
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1.5);
  }
}
