.UserTravel {
  margin: auto;
  text-align: center;
  color: black;
}

.UserTravel h1,
h2,
h3 {
  font-family: "Caveat", cursive;
  font-weight: 700;
}

.UserTravel p {
  margin: 0 auto;
  padding: 0 1rem;
  color: #293462;
  font-weight: 500;
  font-size: 1.2rem;
}

.UserTravel h1 {
  padding: 0.5rem 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 4.5rem;
  color: #feb139;
}

.UserTravel h2 {
  font-size: 3.5rem;
  margin: 0 auto;
  color: #293462;
}

.UserTravel .instructions ol {
  text-align: center;
  list-style-position: inside;
}

.UserTravel #threeSections {
  margin: 4rem auto;
}

.UserTravel .flex {
  padding: 0;
  list-style-type: none;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.UserTravel .section {
  border: 2px solid #182747;
  border-radius: 0.5rem;
  color: #293462;
}

.UserTravel .sectionHeader {
  font-size: 3rem;
  margin: 0.5rem;
  font-weight: 700;
  color: #d61c4e;
}

.UserTravel .displayedLocation {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: rgb(28, 27, 29);
}

footer {
  margin: 1.5rem;
  padding: 0.7rem;
}

#credit {
  font-size: 1rem;
}
