.UserTravel {
  margin: auto;
  text-align: center;
  color: black;
}

.UserTravel h1 {
  padding: 2rem 0;
  margin: 0 auto;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 4.5rem;
}

.UserTravel .instructions ol {
  text-align: center;
  list-style-position: inside;
}

.UserTravel .flex {
  padding: 0;
  list-style-type: none;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.UserTravel .section {
  border: 2px solid yellowgreen;
  border-radius: 1rem;
  color: black;
}

.UserTravel .displayedLocation {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: rgb(28, 27, 29);
}

.UserTravel .deleteButton button {
  background-color: #61c0bf;
  color: white;
  border: none;
  margin: auto 0.2rem;
  border-radius: 0.3rem;
}
.UserTravel .deleteButton button:hover {
  background-color: white;
  color: #61c0bf;
  border: 1px solid #61c0bf;
}
