.UserTravel {
  margin: auto;
  text-align: center;
}

.UserTravel h1 {
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

.UserTravel .instructions ol {
  text-align: center;
  list-style-position: inside;
}

.UserTravel .userInput {
  border: 2px solid red;
}

.UserTravel .flex {
  padding: 0;
  list-style-type: none;
  height: 50vh;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.UserTravel .displayedLocation {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: rgb(28, 27, 29);
}

.UserTravel .deleteButton button {
  background-color: #61c0bf;
  color: white;
  border: none;
  margin: auto 0.2rem;
  border-radius: 0.3rem;
}
.UserTravel .deleteButton button:hover {
  background-color: white;
  color: #61c0bf;
  border: 1px solid #61c0bf;
}

.UserTravel .tophatButton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 5rem 0;
}

.UserTravel .tophatButton:hover {
  animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1.5);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg) scale(1.5);
  }
  50% {
    transform: translate(0, 0) rotate(0deg) scale(1.5);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg) scale(1.5);
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1.5);
  }
}
